.btn-yours {
  background-color: #B28342;
  padding: 13px 43px;
  border-radius: 23px;
  font-weight: lighter;
  opacity: 0.3;
  transition: 0,71s ease-in;
  width: 59px;
  height: 61px;
  color: white;
  margin-top: 40px;

}

.btn-yours:hover {
  opacity: 1;
  font-weight: bolder;
  font-size: larger;
  background-color: #B28342;
}
